body {
    background: rgb(255, 248, 248);
    border-radius: 2px pink;
}

.title {
    text-align: center;
    text-decoration: underline;
}

p {
    text-align: center;
    text-decoration: underline;
}

.botao {
    padding: 10% 20px;
    cursor: pointer;
    background-color: #B0CFEE;
    color: #155793;
}

.conteiner {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    cursor: pointer;
}

.img {
    margin: center;
    border: 2px black;
    padding-left: 35%;
}

.pedido {
    position: absolute;
    top: 68%;
    left: 42%;
    color: #155793;
}

.respostasim {
    margin-left: 50%;
    padding: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    transition: all.10s;
    color: #0084ff;
}